body{
margin:0;
font-family:Arial;
background:#eef5fb;
color:#111;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 60px;
background:white;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
position:sticky;
top:0;
}

.logo{
font-size:32px;
font-weight:bold;
color:darkblue;
}

.menu a{
margin:0 15px;
text-decoration:none;
color:black;
font-weight:bold;
font-size:18px;
}

.phone{
font-size:20px;
font-weight:bold;
color:darkblue;
}

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:70px;
color:darkblue;
margin-bottom:20px;
}

.hero p{
font-size:24px;
margin-bottom:40px;
}

.btn{
background:darkblue;
color:white;
padding:18px 40px;
border-radius:12px;
text-decoration:none;
font-size:20px;
font-weight:bold;
}

.about{
padding:80px 100px;
background:white;
text-align:center;
}

.about h2{
font-size:50px;
margin-bottom:30px;
color:darkblue;
}

.about p{
font-size:22px;
line-height:1.8;
max-width:1000px;
margin:auto;
}

.services{
padding:100px 20px;
text-align:center;
}

.services h2{
font-size:50px;
color:darkblue;
margin-bottom:60px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:40px;
max-width:1300px;
margin:auto;
}

.card{
background:white;
padding:50px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card h3{
font-size:32px;
margin-bottom:20px;
color:darkblue;
}

.card p{
font-size:20px;
}

.contact{
padding:100px 20px;
background:white;
text-align:center;
}

.contact h2{
font-size:55px;
margin-bottom:20px;
}

.contact p{
font-size:22px;
margin-bottom:40px;
}

.contact input{
display:block;
width:80%;
max-width:600px;
margin:20px auto;
padding:20px;
font-size:20px;
border-radius:12px;
border:1px solid #ccc;
}

.contact button{
padding:20px 50px;
font-size:22px;
background:darkblue;
color:white;
border:none;
border-radius:12px;
cursor:pointer;
}

footer{
background:darkblue;
color:white;
text-align:center;
padding:30px;
font-size:20px;
}
